.error-icon, .info-icon {
  transition: background-color ease .2s;
  margin: 0 .5em; }

.error-icon {
  /* Error specific styles ... */ }

.info-icon {
  /* Info specific styles ... */ }

.minicomputer {
  background-color: grey;
  margin: 0 .5em; }
