body {
  margin: 0px; }

.nav {
  width: 100%;
  background-color: #E59866; }
  .nav-bar {
    margin: 0px;
    list-style-type: none;
    text-align: center; }
    .nav-bar li {
      display: inline-block;
      margin: 15px;
      font: bold 23px comic-sans;
      transition: color 0.5s; }
      .nav-bar li:hover {
        color: #AED6F1; }

.wrapper {
  width: 100%;
  text-align: justify; }
  .wrapper .column {
    float: left;
    width: 46%;
    margin: 15px 30px; }
  .wrapper #title {
    text-align: center;
    color: #2C3E50;
    font: bold 30px sans-serif;
    transition: color 0.5s; }
    .wrapper #title:hover {
      color: #AED6F1; }
