body{
    background-color:tomato;
    margin:0;
    height:10000px;
}

#container{
    text-align:center;
    background-color:white;
    //Create a sticky nav bar 
    display:block;
    float:left;
    position:fixed;
    top: 0;
    width:100%;
}

h1{
    margin:0px;
    font:  30px bold arial, sans-serif;
    text-shadow: 1px 1px 1px;
    
}

#names{
    background-color:white;
    margin-top:50px;
    
}
#secondContainer{
    margin-top: 400px;
}